@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="color:darkred;font-weight:bold;font-family:'Courier New',Courier,monospace;font-size:36px;">My New GH-300 live agents</h1>
    <img src="https://picsum.photos/seed/seattle/1000/300" alt="Seattle Skyline" style="margin-top:20px;max-width:100%;height:auto;border:1px solid #ccc;" />
</div>
